/target/
*/target/
!.mvn/wrapper/maven-wrapper.jar

# gradle wrapper
gradle/

# STS
.apt_generated
.factorypath
.springBeans
.sts4-cache

# Eclipse Project Files
.classpath
.project
.settings/

# IntelliJ IDEA Project Files
*.iml
*/*.iml
.idea/
*/.idea/
.iws
.ipr
out

*/.settings/
*/.DS_Store
.DS_Store
Thumbs.db
